# VS Code
.vscode/
.DS_Store

# Node dependencies
node_modules/

# Build output
dist/
dist.zip

# Package lock (optional, reduces size)
package-lock.json

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# Temporary or zipped files
template.zip
*.log
